{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <div class="container main-container">
        <div class="row d-flex justify-content-center">
            <div class="col-5 card text-bg-light form-margins">
                <h3>Войдите в аккаунт</h3>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form_row">
                        {% bootstrap_button button_type="submit" button_class='btn btn-primary green' content='Войти' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

