.menu-toggle:hover {
    background-color: #0354b6;
}

.menu-toggle.open svg {
    transform:rotate(45deg) scale(0.8);
}

.floating-menu-item:hover {
    background-color: #f5f5f5;
}

.floating-menu-item svg {
    width: 20px;
    height: 20px;
    z-index: 1;
}


.menu-content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }

  .menu-content.open {
    height: 225px;
    width: 355px;
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: height 0.5s ease;
  }

  .floating-menu {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 999;
}

.menu-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.menu-toggle:hover {
    background-color: #0354b6;
}

.menu-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.floating-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 20px;
    cursor: pointer;
    color: #202124;
    transition: background-color 0.3s ease;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.floating-menu-item:hover {
    background-color: #f5f5f5;
}

.floating-menu-item svg {
    width: 20px;
    height: 20px;
}

.floating-menu-item[data-title] {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.floating-menu-item[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.floating-menu-item[data-title]:hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 8px 6px 0;
    border-color: transparent #333 transparent transparent;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.floating-menu-item[data-title]:hover::before,
.floating-menu-item[data-title]:hover::after {
    opacity: 1;
}