{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/survey-confirm-delete.css' %}">
{% endblock %}

{% block title %}Подтверждение удаления опроса{% endblock %}

{% block content %}
    <div class="confirm-menu-wrapper">
        <h2 >
            Вы точно хотите удалить опрос?
        </h2>
        <div class="survey-info-container">
            <h3><b>Название: </b>{{ survey.name }}</h3>
            <p><b>Описание: </b>{{ survey.description }}</p>
        </div>
        <div class="button-container">
            <div class="">
                <form action="{% url 'survey_confirm_delete' survey.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class='button confirming-button'>Удалить</button>
                </form>
            </div>
            <div class="col-1">
                <a href="{% url 'index' %}" class='button cancel'>Отмена</a>
            </div>
        </div>
    </div>
{% endblock %}