<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Example</title>
    <link rel="stylesheet" href="assets/css/mainStyle.css">
    <link rel="stylesheet" href="assets/css/FloatingMenu.css">
    <link rel="stylesheet" href="assets/css/Menu.css">
    <link rel="stylesheet" href="assets/css/FormStyle.css">
    <link rel="stylesheet" href="assets/css/SurveyConstructor.css">

</head>

<body>
<header th:insert = "blocks/headerMenu :: header-menu">

</header>

<main>
    
</main>

<footer></footer>

<script src="assets/scripts/menuToggleScript.js"></script>

</body>

</html>
